pyOpenSSL
gradio
pandas
requests
uvicorn
fastapi
transformers
langchain
redis
sse_starlette 
langchain 
langchain-community 
langchainhub 
langchain-openai 
langchain-chroma 
bs4
protobuf
accelerate
unstructured
markdown
sentence-transformers